node_modules
dist/
.idea
.vscode/
temp/*
tmp/
botty.db
visualize_gource.bat
bot.log
desktop.ini
*.bat
*.sh
yarn-error.log
docs/
.env
yarn.lock
dist/test/**
CODE_STYLE.md
CODE_OF_CONDUCT.md
issues.txt